{% extends "base.html" %}
{% block content %}
<h1>Muokkaa reseptiä Bouillabaisse</h1>

<form>

    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Reseptin nimi</th>
                <th>Annosten lukumäärä</th>
                <th>Valmisteluaika</th>
                <th>Valmistumisaika</th>
            </tr>
        </thead>

        <tbody>
            <tr>
                <td>Bouillabaisse</td>
                <td>6</td>
                <td>30 min</td>
                <td>30 min</td>
            </tr>

        </tbody>
    </table>

    
    <h2> Valmistusaineet:</h2>
    <table class="table table-striped table-bordered">
        <thead>
            <tr>
                <th>Määrä</th>
                <th>Raaka-aine</th>
            </tr>
        </thead>

        <tbody>
            <!-- Listataan raaka-aineet tähän -->
            <tr>
                <td>1/4 dl</td>
                <td>oliiviöljyä</td>
            </tr>
            <tr>
                <td>4 kpl</td>
                <td>silputtua valkosipulin kynttä</td>
            </tr>
            <tr>
                <td>7,5 dl</td>
                <td>kuivaa valkoviiniä</td>
            </tr>
        </tbody>
    </table>
    <p>
        <button class="btn btn-danger">Lisää uusi valmistusaine</button> 
    </p>

    <div class="form-group">
        <label>Valmistusohje:</label>
        <textarea class="form-control">
Aloita ranskalaisen kala-äyriäiskeiton valmistus kaatamalla isoon kattilaan oliiviöljy ja 
puolet silputusta valkosipulista. Kuumenna ja anna aromeiden avautua. Kaada joukkoon
reilut 4 dl valkoviiniä. Kun seos kiehahtaa, lisää joukkoon hyvin pestyt sinisimpukat ja keitä, 
kunnes simpukat avautuvat. Nosta simpukat reikäkauhalla kulhoon odottamaan. 
Valmista seuraavaksi aromikas liemi, eli kuullota isossa kattilassa tilkassa oliiviöljyä 
loput hienonnetusta valkosipulista ja sipulisilppu. Lisää joukkoon tomaattipyree, 
piparjuuritahna ja sokeri. Lisää 3 dl valkoviiniä ja anna sen hieman kiehua kasaan. 
Kaada joukkoon kalaliemi ja kala- tai hummerifondi sekä lisää paloitellut perunat. 
Anna kiehua miedolla lämmöllä, kunnes perunat ovat puolikypsiä. 
Lisää joukkoon pikkuporkkanat tai ohuita porkkanasuikaleita. Kaada kerma pieneen kattilaan 
ja anna sen kiehua kasaan niin, että kermasta tulee paksua. Kaada kerma isoon kattilaan, 
lisää voi ja mausta liemi. Lisää lohikuutiot ja anna niiden kypsyä. Lisää lopuksi keiton 
joukkoon kuorelliset katkaravut sekä jokiravun pyrstöt ja anna niiden lämmetä. 
Nosta keittokattila sivuun. Ruskista lopuksi kuhafileet paistinpannulla kullanruskeiksi ja rapeiksi. 
Kokoa annos: nosta lientä lautasen pohjalle, lisää kasviksia, lohta, simpukoita, katkarapuja, 
jokiravun pyrstöjä, ja lopuksi paistettu kuhafilee. Koristele bouillabaisse tuoreella tillillä.
        </textarea>
    </div>

    <p>
        <button class="btn btn-danger">Lisää kuva</button> 
    </p>    

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Tallenna</button>
    </div>
</form>
{% endblock %}