{% extends "base.html" %}
{% block content %}
<h1>Lisää resepti</h1>

<form method="post" action="{{base_path}}/resepti">
    <div class="form-group">
        <label>Reseptin Nimi</label>
        <input type="text" name="reseptin_nimi" class="form-control"value="{{attributes.reseptin_nimi}}">
    </div>

    <div class="form-group">
        <label>Annokset</label>
        <input type="text" name="annokset" class="form-control">
    </div>

    <div class="form-group">
        <label>Valmisteluaika</label>
        <input type="text" name="valmisteluaika" class="form-control">
    </div>

    <div class="form-group">
        <label>Kypsymisaika</label>
        <input type="text" name="kypsymisaika" class="form-control">
    </div>

    <div class="form-group">
        <label>Uunin asteet</label>
        <input type="text" name="uunin_asteet" class="form-control">
    </div>



    



    <div class="form-group">
        <label>Valmistusohje</label>
        <textarea name="valmistusohje" class="form-control"></textarea>
    </div>


    <div class="form-group">
        <label>Laatija</label>       
        <textarea name="laatija" class="form-control"></textarea>
    </div>


    <div class="form-group">
        <button type="submit" class="btn btn-primary">Lisää</button>
    </div>

</form>
{% endblock %}
