{% extends "base.html" %}
{% block content %}
<h1>{{resepti.reseptin_nimi}}</h1>

<ul>
    <li><strong>Annokset: </strong>{{resepti.annokset}}</li>
    <li><strong>Valmisteluaika: </strong>{{resepti.valmisteluaika}}</li>
    <li><strong>Kypsymisaika: </strong>{{resepti.kypsymisaika}}</li>
    <li><strong>Uunin lämpötila: </strong>{{resepti.uunin_asteet}}</li>
</ul>

<h3>Valmistusaineet:</h3>



<h3>Valmistusohje:</h3>

<p>{{resepti.valmistusohje}}</p>

<p>Laatija: {{resepti.laatija}}</p> 


<div class="form-group">
    <button type="submit" class="btn btn-primary">Muokkaa</button>
    <button type="submit" class="btn btn-primary">Poista</button>
</div>

</form>
{% endblock %}
