{% extends "base.html" %}
{% block content %}
<h1></h1>

<!-- Painikkeet tähän -->
<p>
    <button class="btn btn-danger">Poista</button> <a href="#" class="btn btn-default">Muokkaa</a>
</p>

<!-- Tiedot tulee listana tähän -->
<ul>
    <li><strong>Annokset:</strong> </li>
    <li><strong>Valmisteluaika:</strong> </li>
    <li><strong>Kypsymisaika:</strong> </li>
</ul>
<!-- Valmistusaineet tulevat listana tähän -->
    
<!-- Valmistusohje tähän -->
<h2>Valmistusohje</h2>
<p>
    
</p>



<h1><a method="get" action="{{base_path}}/resepti/{{resepti.id}}">{{resepti.reseptin_nimi}}</a></h1>


<form method="get" action="{{base_path}}/resepti/{{resepti.id}}">
    
      
    
    
    <div class="form-group">
        <label>Reseptin Nimi</label>
        <input type="text" name="reseptin_nimi" class="form-control">
    </div>

    <div class="form-group">
        <label>Annokset</label>
        <input type="text" name="annokset" class="form-control">
    </div>

    <div class="form-group">
        <label>Valmisteluaika</label>
        <input type="text" name="valmisteluaika" class="form-control">
    </div>

    <div class="form-group">
        <label>Kypsymisaika</label>
        <input type="text" name="kypsymisaika" class="form-control">
    </div>

    <div class="form-group">
        <label>Uunin asteet</label>
        <input type="text" name="uunin_asteet" class="form-control">
    </div>

    <div class="form-group">
        <label>Valmistusohje</label>
        <textarea name="valmistusohje" class="form-control"></textarea>
    </div>

    <div class="form-group">
        <label>Laatija</label>
        <input type="text" name="laatija" class="form-control">
    </div>

    <div class="form-group">
        <button type="submit" class="btn btn-primary">Muokkaa</button>
    </div>

</form>
{% endblock %}