{% extends "base.html" %}
{% block content %}
<h1>{{resepti.reseptin_nimi}}</h1>

<ul>
    {% if resepti.annokset != null %}
    <li><strong>Annokset: </strong>{{resepti.annokset}}</li>
    {% endif %}
    {% if resepti.valmisteluaika != null %}
    <li><strong>Valmisteluaika: </strong>{{resepti.valmisteluaika}}</li>
    {% endif %}
    {% if resepti.kypsymisaika != null %}
    <li><strong>Kypsymisaika: </strong>{{resepti.kypsymisaika}}</li>
    {% endif %}
    {% if resepti.uunin_asteet != null %}
    <li><strong>Uunin lämpötila: </strong>{{resepti.uunin_asteet}} °C</li>
    {% endif %}
</ul>

<h3>Valmistusaineet:</h3>



<h3>Valmistusohje:</h3>

<p>{{resepti.valmistusohje}}</p>

<p>Laatija: {{resepti.laatija}}</p> 


<div class="form-group">
    
     <th><a class="btn btn-default" href="{{base_path}}/resepti">Takaisin Reseptilistaan</a></th>
   
    <form method="post" action="{{base_path}}/resepti/{{resepti.id}}/destroy" style="display: inline-block;">
        <th><button type="submit" class="btn btn-danger">Poista</button></th>
    </for
</div>

</form>
{% endblock %}
